.WeatherInfo h1 {
  font-size: 52px;
  padding-top: 20px;
  padding-bottom: 0;
  line-height: 30px;
  font-weight: lighter;
}
.WeatherInfo .MainIcon {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  position: relative;
  right: -30px;
  top: 7px;
}
