body {
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
}
.Weather {
  border: 1px solid #000;
  background: #00998c6e;

  margin: 50px auto;
  padding: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
.Weather .SearchCity {
  border-radius: 5px;
  padding: 7px 10px;
  max-width: 500px;
  border: 1px solid #01717b;
}
.Weather .btn {
  background-color: rgba(0, 128, 128, 0);
  border: 1px solid #01717b;
  padding: 7px 30px;
}

.Weather h1 {
  font-size: 55px;
}

.Weather li {
  list-style: none;
}

.Weather p {
  list-style: none;
  font-size: 20px;
  text-align: center;
  border: none;
  padding-right: 50px;
}
